{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEATH NOTE BLOG</title>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&family=Cinzel:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>

    <header>
        <h1><a href="{% url 'index' %}">DEATH NOTE</a></h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        Desenvolvido por: <span>Samuel Robert/ Kira</span>
    </footer>

</body>
</html>